.main-div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.parallax-container {
    min-height: 100vh;
    background-attachment: fixed;
}

.div1 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div1-1 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;

    p {
        margin-left: 3%;
        font-weight: 300;
        font-size: 125%;
        text-align: center;
    }
}

.div1-buffer {
    position: relative;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;

    p {
        margin: 3%;
        font-weight: 300;
        font-size: 125%;
        text-align: center;
    }
}

.linkdiv {
    display: flex;
    justify-content: center;
}

.review-link {
    color: black;
    font-weight: 300;
}

.div1-parallax {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;

    div {
        background-image: url("../../assets/images/top-view-fillet.webp");
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center top;
        background-size: cover;
    }
}

.div1-parallax2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;

    div {
        background-image: url("../../assets/images/restaurant.webp");
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
}

.div1-parallax3 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;

    div {
        background-image: url("../../assets/images/fillet.webp");
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
}