@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@font-face {
  font-family: "Stratford-Serial";
  src: url("../assets/fonts/Stratford-Serial\ Regular.ttf") format('truetype');
}

.font-roboto {
  font-family: Roboto;
}

.main-app-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-body-container {
  height: 100%;
}

.border-black {
  border: solid;
}

.bg-lighter {
  background-color: #f8e6cd;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: black;
}
.bg-darker {
  background-color: #E9D5B6;
}

.text-white {
  color: white;
}

.custom-button.btn {
  background-color: #293241;
  color: #FFF;
  border: none;
}

.hero {
  width: 100vw;
  height: 50vh;
}
.hero img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.sign-in-out-background {
  background-image: url('../assets/images/signup-in-background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blur-effect {
  background-color: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
}

.sticky {
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1;
}
.padding180 {
  padding-top: 100px;
}

.welcome-css {
  .main-div {
    position: relative;
    display: flex;
  }
  .div {
    background-color: black;
    height: 100vh;
    display: flex;
    overflow: hidden;
  }
  .bg-img {
    width: 100%;
    position: fixed;
    opacity: 0.8;
    object-fit: cover;
  }
  .inner {
    height: 100%;
    position: relative;
    position: fixed;
    display: grid;
    align-items: end;
  }
  .inner > div {
    margin: 100px;
    padding-left: 40px;
    padding-right: 40px;
    border: solid;
  }
  .inner > div > h1 {
    font-weight: 200;
    font-size: 500%;
  }
  .enter-link {
    font-weight: 200;
    font-size: 150%;
  }
}

.reviews-css {
  .main-div {
    width: 100%;
  }
}

.review-css{
  .main-container {
    width: 100%;
  }
  .div1 {
    display: flex;
    flex-direction: column;
  }
  .top-section {
    padding-top: 8%;
    background-color: rgb(249, 249, 249);
    display: grid;
    grid-template-columns: minmax(10%, 15%);
  }
  .top-section > div {
    grid-column: 2;
    padding-bottom: 20px;
  }
  .top-section > hr {
    margin-left: 5vw;
    width: 90vw;
  }
  .h5-span {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
  }
  .main-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
  }
  .review-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 30px;
    margin-left: 10%;
    margin-right: 5%;
  }
  .review-body > img {
    background-color: rgb(255, 253, 253);
    object-fit: contain;
    max-width: 80%;
    max-height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .review-body > h1 {
    margin-top: 30px;
    font-family: Roboto;
  }
  .review-text {
    width: 80%;
    font-family: Roboto;
    margin-top: 5%;
  }
  .rating {
    width: 100%;
    display: grid;
    gap: 20px;
  }
  .rating-breakdown {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    grid-column: 1/3;
    grid-row: 1;
    border: solid;
    border-color: rgb(204, 204, 204);
    border-width: 1px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .rating-breakdown > ul {
    list-style-type: none;
  }
  .rating-breakdown > ul > li {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
  }
  .rating-total {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 3;
    grid-row: 1;
    border: solid;
    border-color: rgb(204, 204, 204);
    border-width: 1px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sidebar {
    width: 20%;
    padding: 5px;
  }
  .latest-reviews {
    width: 100%;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .latest-reviews > h3 {
    padding-top: 15px;
    text-align: center;
    font-family: Roboto;
  }
  .latest-reviews > hr {
    width: 95%;
    margin-left: 2.5%;
  }
  .rev-link {
    text-decoration: none;
    color: rgb(116, 116, 116);
  }
}

.home-css{
  .main-div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .parallax-container {
    min-height: 100vh;
    background-attachment: fixed;
  }
  .div1 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div1-1 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
  }
  .div1-1 > h1 {
    margin-left: 3%;
    font-weight: 200;
    font-size: 350%;
    text-align: center;
  }
  .div1-1 > p {
    margin-left: 3%;
    font-weight: 300;
    font-size: 125%;
    text-align: center;
  }
  .div1-buffer {
    position: relative;
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;
  }
  .div1-buffer > p {
    margin: 3%;
    font-weight: 300;
    font-size: 125%;
    text-align: center;
  }
  .linkdiv {
    display: flex;
    justify-content: center;
  }
  .rlink {
    color: black;
    font-weight: 300;
  }
  .div1-parallax {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
  .div1-parallax > div {
    background-image: url("../assets/images/top-view-fillet.webp");
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
  }
  .div1-parallax2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
  .div1-parallax2 > div {
    background-image: url("../assets/images/restaurant.webp");
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .div1-parallax3 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
  .div1-parallax3 > div  {
    background-image: url("../assets/images/fillet.webp");
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
} 

.articles-css {
    $main-green: #79dd09 !default;
    $main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
    $main-yellow: #bdbb49 !default;
    $main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
    $main-red: #bd150b !default;
    $main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
    $main-blue: #0076bd !default;
    $main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;
  
    /* This pen */
    body {
      font-family: "Baloo 2", cursive;
      font-size: 16px;
      color: #ffffff;
      text-rendering: optimizeLegibility;
      font-weight: initial;
    }
  
    .dark {
      background: #110f16;
    }
  
  
    .light {
      background: #f3f5f7;
    }
  
    a, a:hover {
      text-decoration: none;
      transition: color 0.3s ease-in-out;
    }
  
    #pageHeaderTitle {
      margin: 2rem 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5rem;
    }
  
    /* Cards */
    .postcard {
      flex-wrap: wrap;
      display: flex;
      
      box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
      border-radius: 10px;
      margin: 0 0 2rem 0;
      overflow: hidden;
      position: relative;
      color: #ffffff;
  
      &.dark {
        background-color: #18151f;
      }
      &.light {
        background-color: #e1e5ea;
      }
      
      .t-dark {
        color: #18151f;
      }
      
      a {
        color: inherit;
      }
      
      h1,	.h1 {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
      }
      
      .small {
        font-size: 80%;
      }
  
      .postcard__title {
        font-size: 1.75rem;
      }
  
      .postcard__img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative;
      }
  
      .postcard__img_link {
        display: contents;
      }
  
      .postcard__bar {
        width: 50px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #424242;
        transition: width 0.2s ease;
      }
  
      .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
      }
  
      .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
      }
  
      .postcard__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;
  
        .tag__item {
          display: inline-block;
          background: rgba(83, 83, 83, 0.4);
          border-radius: 3px;
          padding: 2.5px 10px;
          margin: 0 5px 5px 0;
          cursor: default;
          user-select: none;
          transition: background-color 0.3s;
  
          &:hover {
            background: rgba(83, 83, 83, 0.8);
          }
        }
      }
  
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        border-radius: 10px;
      }
  
      &:hover .postcard__bar {
        width: 100px;
      }
    }
  
    @media screen and (min-width: 769px) {
      .postcard {
        flex-wrap: inherit;
  
        .postcard__title {
          font-size: 2rem;
        }
  
        .postcard__tagbox {
          justify-content: start;
        }
  
        .postcard__img {
          max-width: 300px;
          max-height: 100%;
          transition: transform 0.3s ease;
        }
  
        .postcard__text {
          padding: 3rem;
          width: 100%;
        }
  
        .media.postcard__text:before {
          content: "";
          position: absolute;
          display: block;
          background: #18151f;
          top: -20%;
          height: 130%;
          width: 55px;
        }
  
        &:hover .postcard__img {
          transform: scale(1.1);
        }
  
        &:nth-child(2n+1) {
          flex-direction: row;
        }
  
        &:nth-child(2n+0) {
          flex-direction: row-reverse;
        }
  
        &:nth-child(2n+1) .postcard__text::before {
          left: -12px !important;
          transform: rotate(4deg);
        }
  
        &:nth-child(2n+0) .postcard__text::before {
          right: -12px !important;
          transform: rotate(-4deg);
        }
      }
    }
    @media screen and (min-width: 1024px){
        .postcard__text {
          padding: 2rem 3.5rem;
        }
        
        .postcard__text:before {
          content: "";
          position: absolute;
          display: block;
          
          top: -20%;
          height: 130%;
          width: 55px;
        }
      
      .postcard.dark {
        .postcard__text:before {
          background: #18151f;
        }
      }
      .postcard.light {
        .postcard__text:before {
          background: #e1e5ea;
        }
      }
    }
  
    /* COLORS */
    .postcard .postcard__tagbox .green.play:hover {
      background: $main-green;
      color: black;
    }
    .green .postcard__title:hover {
      color: $main-green;
    }
    .green .postcard__bar {
      background-color: $main-green;
    }
    .green::before {
      background-image: linear-gradient(
        -30deg,
        $main-green-rgb-015,
        transparent 50%
      );
    }
    .green:nth-child(2n)::before {
      background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
    }
  
    .postcard .postcard__tagbox .blue.play:hover {
      background: $main-blue;
    }
    .blue .postcard__title:hover {
      color: $main-blue;
    }
    .blue .postcard__bar {
      background-color: $main-blue;
    }
    .blue::before {
      background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
    }
    .blue:nth-child(2n)::before {
      background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
    }
  
    .postcard .postcard__tagbox .red.play:hover {
      background: $main-red;
    }
    .red .postcard__title:hover {
      color: $main-red;
    }
    .red .postcard__bar {
      background-color: $main-red;
    }
    .red::before {
      background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
    }
    .red:nth-child(2n)::before {
      background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
    }
  
    .postcard .postcard__tagbox .yellow.play:hover {
      background: $main-yellow;
      color: black;
    }
    .yellow .postcard__title:hover {
      color: $main-yellow;
    }
    .yellow .postcard__bar {
      background-color: $main-yellow;
    }
    .yellow::before {
      background-image: linear-gradient(
        -30deg,
        $main-yellow-rgb-015,
        transparent 50%
      );
    }
    .yellow:nth-child(2n)::before {
      background-image: linear-gradient(
        30deg,
        $main-yellow-rgb-015,
        transparent 50%
      );
    }
  
    @media screen and (min-width: 769px) {
      .green::before {
        background-image: linear-gradient(
          -80deg,
          $main-green-rgb-015,
          transparent 50%
        );
      }
      .green:nth-child(2n)::before {
        background-image: linear-gradient(
          80deg,
          $main-green-rgb-015,
          transparent 50%
        );
      }
  
      .blue::before {
        background-image: linear-gradient(
          -80deg,
          $main-blue-rgb-015,
          transparent 50%
        );
      }
      .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
      }
  
      .red::before {
        background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
      }
      .red:nth-child(2n)::before {
        background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
      }
      
      .yellow::before {
        background-image: linear-gradient(
          -80deg,
          $main-yellow-rgb-015,
          transparent 50%
        );
      }
      .yellow:nth-child(2n)::before {
        background-image: linear-gradient(
          80deg,
          $main-yellow-rgb-015,
          transparent 50%
        );
      }
    }
  
    .main-body {
      background: #e8cbc0;
      background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
      background: linear-gradient(to right, #e8cbc0, #636fa4);
      min-height: 100vh;
    }
}

.recent-card {
  .card-body {
    width: 100%;
    margin: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: minmax(20%, 30%);
    grid-template-rows: minmax(50px, 80px);
  }
  .card-body > img {
    max-width: 100%;
    max-height: 100%;
    grid-column: 1;
    grid-row: 1;
    object-fit: contain;
    border-radius: 5px;
  }
  .card-text {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
  }
  .clink {
    text-decoration: none;
    color: rgb(116, 116, 116);
  }
  .clink:hover {
    color:#0076bd;
  }
}
.recent-card:hover {
  background-color: rgb(252, 252, 252);
}